<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <address>
                <address_book_access>1</address_book_access>
                <address_book_editable>1</address_book_editable>
            </address>
        </customer>
    </default>
</config>